



.animeListe {
    
    border-radius: 25px;
    width: auto;
    max-width: 100%;
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    display: flex;
    gap: 2rem;
    padding: auto;
    margin-bottom: 35px;
    flex-wrap: wrap;
   
}



.animeCertain{
    border-radius: 25px;
    min-width:410px;
    max-width:410px;
    min-height:668px;
    max-height:668px;
    margin: 5px;
    display: inline-grid; 
    background: rgb(0, 0, 0);
    padding: 10px;
    box-shadow: 0px 0px 10px 5px rgb(9, 9, 148);
    
}

.animeTitel{
    color: white;
    margin-left: 3px;
    margin-top: 3px;
    min-height:30px;
    max-height:30px;
    font-size: 28px;
    text-align: center;
}
.animeBild{
    min-height: 480px;
    max-height: 480px;
    min-width: 380px;
    max-width: 380px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.animeBeschreibung {
    background: rgb(18, 14, 73);
    font-size: 20px;
    width: 380px;
    border-radius: 10px;
    display: inline-grid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    color: white;
    text-align: left;
    text-shadow: 3px 3px 3px  black;
}

.descFont {
    margin-left: 3px;
}