 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body {
    font-family: -apple-system;
    background: darkslateblue;
    color:black;
}


.homePage {

}

.homePageHeader{
    font-size: 100px;
    margin-left: 35px;
    color: white;
    text-shadow: 2px 2px 4px #000000;

}

.favoritenListe {
    border-radius: 25px;
    background: blueviolet;
    width: 1718px;
    margin: 35px 0rem 35px 35px;
    display: grid;
    gap: 2rem;
    padding: 17px;
}

.favoritenHeader{
    font-style: revert;
    border-radius: 25px;
    background: blue;
    width: 235px;
    height: 70px;
    font-size: 50px;
margin: 15px;
padding: 5px;
}




.animeListe {
    border-radius: 25px;
    background:blueviolet;
    width: 1718px;
    margin: 0px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 35px;
    display: grid;
    gap: 2rem;
    padding: 17px;
    margin-bottom: 35px;

}

.animeHeader{
    font-style: revert;
    border-radius: 25px;
    background: blue;
    width: 190px;
    height: 70px;
    font-size: 50px;
    margin: 15px;
    padding: 5px;
}

.animeCertain{
    border-radius: 25px;
    min-width:410px;
    max-width:410px;
    min-height:730px;
    max-height:730px;
    margin: 5px;
    display: inline-grid;
    row-gap: 10px;
    background: skyblue;
    padding: 10px;
}

.animeTitel{

    min-height:30px;
    max-height:30px;
    font-size: 28px;
}
.animeBild{
    min-height: 480px;
    max-height: 480px;
    min-width: 380px;
    max-width: 380px;
}
.animeBeschreibung {
    background: khaki;
    font-size: 20px;
    border-radius: 10px;
    display: inline-grid;
}

