 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

body{
    background: rgb(15, 15, 15);
}

.pageHeader{
    background: rgb(8, 8, 134);
    width: auto;
    height:75px;

}



.homePageHeader{
    font-size: 70px;
    margin-left: 30px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    margin-bottom: 
    
    
}




.buttonGroup{
    text-align: right;
    margin-top: -67px;
    margin-right: 8px;
}


 

 .typeButton{
     background: rgb(9, 9, 148);
     color: white;
     height: 50px;
     width: 150px;
     font-size: 20px;
     border-color: white;
     margin-left: 6.5px;
     margin-right: 6.5px;
     cursor: pointer;
     transition-duration: inherit;
     
     
 }

 .typeButton:focus{
     background: black;
 }





